@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// Google Fonts

@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');
//div {border:1px solid red;padding:1px;}
// custom styles

// PEOPLE
.people-you-might-know {
  background-color: $white;
  padding: 1rem 0 0;
  border: 1px solid $medium-gray;
  box-shadow: 0 0 rem-calc(50) rgba(0,0,0, 0.18);

  .add-people-header {
    padding: 0 0.9375rem;
    border-bottom: 0.0625rem solid $medium-gray;

    .header-title {
      font-weight: bold;
    }
  }

  .add-people-section {
    margin: 1rem 0 0;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid $medium-gray;

    .about-people {
      display: flex;
      align-items: flex-start;

      .about-people-avatar {
        padding-right: 0.5rem;
        padding-left: 0;

        .avatar-image {
          width: rem-calc(80);
          height: rem-calc(80);
          border-radius: 50%;
          border: 0.0625rem solid $medium-gray;
        }
      }

      .about-people-author {
        flex: 1 0 0;

        .author-name {
          color: $black;
          margin: 0.375rem 0 0;
        }

        .author-location,
        .author-mutual {
          color: $dark-gray;
          margin-bottom: 0;
          font-size: 0.85em;
        }
      }
    }

    .add-friend {
      display: flex;
      align-items: center;
      justify-content: center;

      @include breakpoint(small only) {
        justify-content: flex-start;
      }

      .add-friend-action {
        margin-top: 0.7rem;
      }
    }
  }

  .view-more-people {
    margin: .7rem 0;

    .view-more-text {
      margin-bottom: 0;
      text-align: center;

      .view-more-link {
        color: $primary-color;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
// HERO
$hero-height: 60vh;

.hero-section {
  background: url('https://static.pexels.com/photos/248064/pexels-photo-248064.jpeg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}
// Topbar
$topbar-responsive-bg: #2c3840;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none
$topbar-font-family:$header-font-family;
$topbar-font-weight:700;

.top-bar{
  font-family:$topbar-font-family;
  font-weight:$topbar-font-weight;
  }

.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 1rem 1.5rem;

  .topbar-responsive-logo {
    color: $white;
    vertical-align: middle;
  }

  .menu {
    background: $topbar-responsive-bg;

    // SEPERATOR FOR TABLET AND FULL SIZE SITE
    li+li{border-left: 1px solid white; padding-left:12px;}
    @media screen and (max-width: 39.9375em) {
      li+li{border-left: 0; padding-left:0;}
    }

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: $white;
      transition: color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }

    .topbar-responsive-button {
      color: $white;
      border-color: $white;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
        border-color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
        margin: 0.875rem 0;
      }
    }
  }

   @media screen and (max-width: 39.9375em) {
     padding: 0.75rem;

    .top-bar-title {
      position: relative;
      width: 100%;


      span {
        position: absolute;
        right: 0;
        border: 1px solid $white;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(small only) {
  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.5s;
    width: 100%;

    @if $topbar-responsive-animation-type == slide-down {
      animation: slideDown 1s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn 1s ease-in;
    } @else {
      animation: none;
    }
  }
}
